table {
    border: 2px;
    border-style: solid;
    margin: 0px auto;
    padding: 0px;
}

.mainHeader{
	color: black;
	font-size: x-large;
}

.bigButton{
	border-style: none;
	background-color: #3f3f3f;
	color: #dfdfdf;
	width: 630px;
	height: 75px;
	text-align: center;
	font-size: xx-large;
}

.regularButton{
	border-style: none;
	background-color: #3f3f3f;
	color: #dfdfdf;
	width: 313px;
	height: 75px;
	text-align: center;
	font-size: xx-large;
}

.smallButton{
	border-style: none;
	background-color: #3f3f3f;
	color: #dfdfdf;
	width: 207px;
	height: 75px;
	text-align: center;
	font-size: x-large;
}





